<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEACHBOOK - Home</title>

    <!-- FONT AWESOME CDN LINK -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- CUSTOM CSS FILE LINK -->
    <link rel="stylesheet" href="/CSS/style.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

</head>

<body>

    <!-- HEADER SECTION STARTS  -->

    <header class="header">
        <nav class="fixed-top">
            <div class="nav-items">
                <li><a href="/blog">Blog</a></li>
                <li><a href="/coursemore">Course</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </div>

            <div class="menu-icon">
                <span class="fas fa-bars"></span>
            </div>

            <div class="logo">
                Teach <span class="logo-half">Book</span>
            </div>

            <div class="search-icon">
                <span class="fas fa-search"></span>
            </div>

            <div class="cancel-icon">
                <span class="fas fa-times"></span>
            </div>

            <div class="right">
                <form action="#">
                    <input type="search" class="search-data" placeholder="Search" required>
                    <button type="submit" class="fas fa-search"></button>
                </form>
                <div class="sign">
                    <a href="/login"><button class="button">Sign In</button></a>
                    
                </div>
            </div>
        </nav>
    </header>

    <!-- HEADER SECTION ENDS  -->




    <!-- HOME SECTION STARTS -->

    <section id="home" class="banner_wrapper mb-5" style="background-color: #FFF6E4;">
        <div class="herosection">
            <div class="row align-items-center">
                <div id="mainsection" class="col-lg-7 text-lg-start order-lg-1 order-2 mt-5 col-md-5 col-sm-7">
                    <h1 id="homeheading" style="color:black;">Simply Easy Learning at your <span
                            style="color: #ED8000;">fingertips</span> </h1>
                    <p id="homesubheading">rem ratione minima explicabo cum asperiores velit ipsum, autem natus. Lorem,
                        ipsum
                        dolor sit amet consectetur adipisicing elit. Consectetur expedita modi nihil velit corporis fuga
                        eveniet placeat harum, veritatis aspernatur illum dolorem illo minus obcaecati ipsum rerum optio
                        esse repellat. </p>
                </div>
                <div id="heading_image" class="col-lg-5 text-center order-lg-2 order-1 me-5 col-md-7 col-sm-5">
                    <img src="./Image/Home-Banner.png" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <!-- HOME SECTION ENDS -->




    <!-- BLOG SECTION STARTS  -->

    <div class="container mb-5">
        <h1 id="trending"><span>Latest</span> <span style="color:#ED8000 ;">Blogs</span></h1>
    </div>
    <div class="container" style="font-family: 'Inter', sans-serif;">
        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col mb-5">
                <div class="card h-100">
                    <img src="./Image/Latest-Blog-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 600; font-size: 25px;">Web Development using HTML &
                            CSS</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Last updated 3 mins ago</h6>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a href="/login" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <img src="./Image/Latest-Blog-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 600; font-size: 25px;">Importance of Reading Books
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Last updated 3 mins ago</h6>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a href="/login" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <img src="./Image/Latest-Blog-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 600; font-size: 25px;">App Development using Java
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Last updated 3 mins ago</h6>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a href="/login" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <img src="./Image/Latest-Blog-4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 600; font-size: 25px;">Photography</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Last updated 3 mins ago</h6>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a href="/login" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <img src="./Image/Latest-Blog-5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 600; font-size: 25px;">Digital Marketing</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Last updated 3 mins ago</h6>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a href="/login" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <img src="./Image/Latest-Blog-6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 600; font-size: 25px;">Cinematography</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Last updated 3 mins ago</h6>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a href="/login" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- BLOG SECTION ENDS -->




    <!-- ICONS SECTION STARTS -->

    <section class="white-section mb-5" id="features">

        <div class="container-fluid">

            <div class="row" style="display:flex ; justify-content: center; align-items: center; text-align: center;">
                <div class="feature-box col-lg-4">
                    <i class="icon fas fa-certificate fa-4x"></i>
                    <h3 class="feature-title" style="font-weight: 700;">50K+ Blogs</h3>
                    <p style="font-weight: 500;">Lorem ipsum dolor sit amet conse adip Lorem ipsum sit amet conse</p>
                </div>

                <div class="feature-box col-lg-4">
                    <i class="icon fas fa-laptop fa-4x"></i>
                    <h3 class="feature-title" style="font-weight: 700;">500+ Courses</h3>
                    <p style="font-weight: 500;">Lorem ipsum dolor sit amet conse adip Lorem ipsum sit amet conse</p>
                </div>

                <div class="feature-box col-lg-4">
                    <i class="icon fas fa-user-graduate fa-4x"></i>
                    <h3 class="feature-title" style="font-weight: 700;">30M+ Students</h3>
                    <p style="font-weight: 500;">Lorem ipsum dolor sit amet conse adip Lorem ipsum sit amet conse</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ICONS SECTION ENDS-->




    <!-- COURSE SECTION STARTS -->

    <div class="container mb-5">
        <h1 id="trending"><span>Trending</span> <span style="color:#ED8000 ;">Courses</span></h1>
    </div>
    <div class="container" style="font-family: 'Inter', sans-serif;">
        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col mb-5">
                <div class="card h-100">
                    <img src="./Image/Trending-Course-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 600; font-size: 25px;">Social Media Marketing</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Dr. Suprativ Ghosh</h6>
                        <p class="card-text">This is a wider card with supporting text below as Lorem, ipsum dolor.</p>
                        <h5 class="card-text" style="font-weight: 600; font-size: 21px;">₹2,199.00 <s class="cross"
                                style="font-size: 14px; color: #f00; font-weight: 500;"> ₹2,799.00 </s></h5>
                        <a href="/coursepage" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <img src="./Image/Trending-Course-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 600; font-size: 25px;">Video Editing</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Dr. Suprativ Ghosh</h6>
                        <p class="card-text">This is a wider card with supporting text below as Lorem, ipsum dolor.</p>
                        <h5 class="card-text" style="font-weight: 600; font-size: 21px;">₹3,199.00 <s class="cross"
                                style="font-size: 14px; color: #f00; font-weight: 500;"> ₹3,799.00 </s></h5>
                        <a href="/coursepage" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <img src="./Image/Trending-Course-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 600; font-size: 25px;">Marketing Strategy</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Dr. Suprativ Ghosh</h6>
                        <p class="card-text">This is a wider card with supporting text below as Lorem, ipsum dolor.</p>
                        <h5 class="card-text" style="font-weight: 600; font-size: 21px;">₹4,199.00 <s class="cross"
                                style="font-size: 14px; color: #f00; font-weight: 500;"> ₹4,799.00 </s></h5>
                        <a href="/coursepage" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- COURSES SECTION ENDS -->




    <!-- FOOTER SECTION STARTS -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>quick links</h4>
                    <ul>
                        <li><a href="/">home</a></li>
                        <li><a href="/blog">blog</a></li>
                        <li><a href="/coursemore">course</a></li>
                        <li><a href="/aboutus">about us</a></li>
                        <li><a href="/contactus">contact us</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>blogs</h4>
                    <ul>
                        <li><a href="/login">blog 1</a></li>
                        <li><a href="/login">blog 2</a></li>
                        <li><a href="/login">blog 3</a></li>
                        <li><a href="/login">blog 4</a></li>
                        <li><a href="/login">blog 5</a></li>
                        <li><a href="/login">blog 6</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>courses</h4>
                    <ul>
                        <li><a href="/coursemore">course 1</a></li>
                        <li><a href="/coursemore">course 2</a></li>
                        <li><a href="/coursemore">course 3</a></li>
                        <li><a href="/coursemore">course 4</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <h1 class="credit">Copyrights <a href="#"> © 2022 Teach Book | </a> All rights reserved. </h1>
        </div>
    </footer>

    <!-- FOOTER SECTION ENDS -->




    <!-- JAVASCRIPT FILE LINK  -->
    <script src="./Js/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

</body>

</html>