<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/CSS/login.css" />
  
  <title>signin-signup</title>
</head>

<body>
  <div class="container">
    <div class="signin-signup">
      <form action="/login" method="POST" class="sign-in-form">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username"  name="name"/>
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" required="required" class="modal-form-input error-focus"  name="password"/>
        </div>
        <input type="submit" value="Login" class="btn" />

        <p class="account-text">
          Don't have an account? <a href="#" id="sign-up-btn2">Sign up</a>
        </p>
      </form>
      <form action="/register" method="POST" class="sign-up-form">
        <h2 class="title">Sign up</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
           <label for="text" class="form-label"></label>
          <input type="text" placeholder="Username" name="name"/>
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="text" placeholder="Email" name="email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" name="password"/>
        </div>
        <input type="submit" value="Sign up" class="btn" />

        <p class="account-text">
          Already have an account? <a href="#" id="sign-in-btn2">Sign in</a>
        </p>
      </form>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Already have an account?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
            accusantium dolor, eos incidunt minima iure?
          </p>
          <button class="btn" id="sign-in-btn">Sign in</button>
        </div>
        <img src="/Image/signin.png" alt="" class="image" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>New here?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
            accusantium dolor, eos incidunt minima iure?
          </p>
          <button class="btn" id="sign-up-btn">Sign up</button>
        </div>
        <img src="/Image/signup.png" alt="" class="image" />
      </div>
    </div>
  </div>
  <script src="/Js/login.js"></script>

</body>

</html>